<div class="intoro">
<h5>診断結果</h5>
<p>あなたにおすすめの放送回は</p>
</div>
<div class="tweet-container">
<div class="tweet">
    <% if @perfume.question == "111" %>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/inGQ45xJyqU?si=JEYwWIk68jfhrXg3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>


    <% elsif @perfume.question == "112" %>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/j7qz1edJmJ8?si=d13GPxtufm00elTe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    <% elsif @perfume.question == "121" %>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/5s-UZBMCCLE?si=zREf0mcTe14zICJK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    <% elsif @perfume.question == "122" %>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/-DIgxR1f1ug?si=GwHMu_M98CmE1hpT" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>


    <% elsif @perfume.question == "131" %>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/41NW9RHtWmw?si=ofc9gNjx8ndCznu-" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    <% elsif @perfume.question == "132" %>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/HLzMPmXz2-s?si=B3RO-2F_0-sQl42H" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>


    <% elsif @perfume.question == "211" %>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/6XF6f9B4WkM?si=wJCt0ElIjGyLbbva" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    <% elsif @perfume.question == "212" %>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/MGj4gRsdaQs?si=rl6C_L_C6OCZgdxu" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    
    <% elsif @perfume.question == "221" %>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/3ukJHpKEpNs?si=Fv4JlnuYzdz44dFX" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>


    <% elsif @perfume.question == "222" %>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/3eBhgSI5QN8?si=NLjFD5TRYJujByK4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>


    <% elsif @perfume.question == "231" %>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/qH46AdmPjfU?si=Bbanh4E-oNNj4PUe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>


    <% elsif @perfume.question == "232" %>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/fU_uNaCFFhE?si=SEC_ghK8F7BkbwEF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>


    <% elsif @perfume.question == "311" %>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/WKJAey4hRoM?si=mpcf3aHa4pH4_EeU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    <% elsif @perfume.question == "312" %>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/5puWQL8VmKA?si=RA9zGNyIRJDMutkb" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    <% elsif @perfume.question == "321" %>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Rdim2850U9A?si=I8M9xfjchH2Z96xM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    <% elsif @perfume.question == "322" %>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/po_o1jhX6Ro?si=o3J66I_XdrOJILd8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    <% elsif @perfume.question == "331" %>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/qG_brCu_5fQ?si=pFAWG8qrLCCpGUr7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    <% elsif @perfume.question == "332" %>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/4P9IHIpTI2M?si=hiq5eUvrrOjk5WxW" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    <% end %>

</div>
